.nav {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  background-color: #249921;
  padding: 20px;
  justify-content: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.logo h2 {
  display: flex;
  justify-content: center;
}

.navItems {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navItems h2 {
  display: flex;
  align-items: center;
}

.navItems h2 a {
  text-decoration: none;
  color: white;
}

.loginSection div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.Language {
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid white;
  margin: 0 20px;
}

.login {
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid #4a3aff;
  background-color: #4a3aff;
  color: white;
}

@media screen and (max-width: 760px) {
  .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .navItems {
    display: flex;
    flex-direction: column;
  }
  .logo h2 {
    text-align: left;
  }
}
